<section class="stage-page landing-page">
  <%- include("../../partials/assessment/onboarding-hero", { pageData }) %>
  <%- include("../../partials/assessment/onboarding-form", { pageData }) %>
</section>
