<div class="app-stage-shell">
  <header class="app-header">
    <img src="/assets/logo-256.png" alt="MiRealYo" class="app-header__logo" />
    <span class="app-header__brand">MiRealYo.com</span>
  </header>
  <section class="app-stage">
    <div class="app-stage__inner">
      <%- include(page, { pageData }) %>
    </div>
  </section>
</div>
